.feynman__link {
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: black;
    z-index: 3;
    transition: opacity .3s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}
