.footer__column-links-items {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity .3s ease;
  margin:0px;
}

.footer__column-links-items:hover {
  opacity: 0.6;
}

