.footer__column-links {
    font-size: 18px;
    line-height: 30px;
    margin-top:20px;
    margin-bottom:16px;
    padding-left:0px;
    list-style-type: none;
    transition: opacity .3s ease;
}

.footer__column-link:hover {
  opacity: 0.6;
}
