.footer__column-links {
    font-size: 18px;
    line-height: 30px;
    margin-top:20px;
    margin-bottom:16px;
    padding-left:0px;
    list-style-type: none;
    transition: opacity .3s ease;
}
/*Если читаете это сообщение то посмотрите скриншот https://gyazo.com/ad69d205e659c8709f98528c1c265cb4 сделано всё как в брифе */ 

.footer__column-links:hover {
  opacity: 0.6;
}
